#mario{
    width:4vw;
    height:3.5vw;
    bottom: -0.1vw;
    left:32.3vw;
    position: absolute;
    transform: translateX(0) translateY(0);
    background: var(--mario-stay-right);
    background-size: auto 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

#mario.left{
    background: var(--mario-stay-left);
}
#mario.right{
    background: var(--mario-stay-right);
}

#mario.left.jump{
    background: var(--mario-jump-left);
}
#mario.right.jump{
    background: var(--mario-jump-right);
}

#mario.left.walk{
    background: var(--mario-walk-left);
}
#mario.right.walk{
    background: var(--mario-walk-right);
}

/*GrOw*/
#mario.big{
    height:7vw;
}

#mario.big.left{
    background: var(--mario-stay-left-big);
}
#mario.big.right{
    background: var(--mario-stay-right-big);
}

#mario.big.left.jump{
    background: var(--mario-jump-left-big);
}
#mario.big.right.jump{
    background: var(--mario-jump-right-big);
}

#mario.big.left.walk{
    background: var(--mario-walk-left-big);
}
#mario.big.right.walk{
    background: var(--mario-walk-right-big);
}

/*Animations*/
#mario.big.right.grow{
    background: var(--mario-grow-right);
}
#mario.big.left.grow{
    background: var(--mario-grow-left);
}
#mario.right.shrink{
    height:7vw;
    background: var(--mario-shrink-right);
}
#mario.left.shrink{
    height:7vw;
    background: var(--mario-shrink-left);
}

/*Cave*/
#container .world.cave #mario{
    left: 9vw;
}