<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super Mario Quiz</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="quiz" selected="diagnostico">
    <link rel="stylesheet" href="/static/fonts/style.css">
    <link rel="stylesheet" href="/static/css/images.css">
    <link rel="stylesheet" href="/static/css/animations.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/mario.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/cave.css">
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/utilities.js"></script>
    <script src="/static/js/config/quiz.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>
    <div id="container"></div>
</body>
</html>