#container .world.cave .wallpaper{
    background: #000;
}

#container .world.cave p.disable{
    color: #fff;
}

#container .world.cave .roof{
    width:100%;
    height:2.8vw;
    position: absolute;
    top: 5vw;
    background: url("../sprites/cave/ladrillo.png");
    background-position:-1vw 0 !important;
    background-size:3vw !important;
}

#container .world.cave .roof .pipe{
    position: absolute;
    left: 5vw;
    top: 2.8vw;
}

#container .world.cave .floor{
    background: url(../sprites/cave/block.png);
}

#container .world.cave .menu-screen{
    margin-top:10vw;
}


#container .world.cave .menu-screen h2.sign{
    height: auto;
    background: transparent;
    display: inline-block;
    text-align: center;
    max-width: 50%;
    line-height: 1.5;
    padding: 0;
}   

#container .world .menu-screen .sign ul.blocks{
    display: flex;
    position: absolute;
    height: 3vw;
    list-style: none;
}

#container .world .menu-screen .sign ul.blocks li{
    width: 3vw;
    height: 3vw;
    display: inline-block;
    background-size: 100% 100% !important;
}

#container .world .menu-screen .sign ul.blocks li.coin{
    background: url(../sprites/base/coin.gif);
}

#container .world.cave #blocks1{
    right: 100%;
}

#container .world.cave #blocks2{
    top: 0;
    left: 100%;
}